<div class="container px-5 my-5">
  <div id="contactForm" data-sb-form-api-token="API_TOKEN">
    <div class="mb-3">
      <label class="form-label" for="latitude">Latitude</label>

      <div class="row">
        <div class="col-9">
          <input class="form-control" id="latitude" type="number" placeholder="Latitude" data-sb-validations="required" [(ngModel)]="latitude" />
        </div>
        <div class="col-3">
          <select class="form-select" id="latitudeSign" aria-label="LatitudeSign" [(ngModel)]="latitudeSign">
            <option value="N">N</option>
            <option value="S">S</option>
          </select>
        </div>
      </div>

    </div>

    <div class="mb-3">
      <label class="form-label" for="longitude">Longitude</label>

      <div class="row">
        <div class="col-9">
          <input class="form-control" id="longitude" type="text" placeholder="Longitude" data-sb-validations="required" [(ngModel)]="longitude" />
        </div>
        <div class="col-3">
          <select class="form-select" id="longitudeSign" aria-label="LongitudeSign" [(ngModel)]="longitudeSign">
            <option value="W">W</option>
            <option value="E">E</option>
          </select>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col">
        <button type="button" class="mt-1 btn btn-success" (click)="onGenerateClick()">Generate</button>
      </div>
    </div>

  </div>
</div>
