<div class="card">
  <div class="card-header">Contact Information</div>

  <div class="card-body">

    <!--<div class="row">
      <div class="col">
        <label>Prefix</label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input class="form-control" type="text" [(ngModel)]="prefix">
      </div>
    </div>-->

    <div class="row">
      <div class="col">
        <label>First Name</label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input class="form-control" type="text" [(ngModel)]="firstName">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Last Name</label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input class="form-control" type="text" [(ngModel)]="lastName">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Phone Number</label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input class="form-control" type="tel" [(ngModel)]="phoneNumber">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Email</label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input class="form-control" type="email" [(ngModel)]="email">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Birthday</label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input class="form-control" type="date" [(ngModel)]="birthday">
        <button class="btn btn-success" type="button" (click)="clearBirthday()">Clear</button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Address</label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input class="form-control" type="text" [(ngModel)]="address">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Website</label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input class="form-control" type="text" [(ngModel)]="website">
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <h5>
          Organization
        </h5>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Organization</label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input class="form-control" type="text" [(ngModel)]="organization">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Job Title</label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input class="form-control" type="text" [(ngModel)]="jobTitle" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Phone Number Work</label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input class="form-control" type="tel" [(ngModel)]="workPhoneNumber">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button type="button" class="mt-1 btn btn-success" (click)="onGenerateClick()">Generate</button>
      </div>
    </div>

  </div>

</div>
